html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: block;
}

input[type="file"] {
    display: none;
}

input:focus {
    outline: 1px solid blue;
}

label ~ * {
    height: 30px;
    line-height: 30px;
    width: 100%;
}

.inputs {
    display: flex;
    gap: 40px;
    position: relative;
}

.text-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
}

.userPhoto {
    box-sizing: content-box;
    display: inline-block;
    height: 180px;
    width: 180px;
    object-fit: cover;
    cursor: pointer;
    border: 2px dashed rgba(163, 64, 64, 0.288);
    border-radius: 20px;
    padding: 5px;
}

button {
    width: 100px;
    height: 30px;
    background-color: rgb(106, 151, 106);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

figcaption {
    text-align: center;
}

.preview {
    font-size: 1.3rem;
}

.preview::before {
    content: "";
    border-top: 1px solid black;
    width: 60%;
    display: block;
}

label {
    color: rgba(39, 114, 49, 0.664);
}

.delete-experience {
    margin-top: 10px;
}

.experience:not(:last-of-type) {
    margin-bottom: 20px;
}

.delete {
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.delete:hover {
    transform: scale(1.2);
}

.clear-cv {
    background-color: rgb(219, 120, 120);
}